.container {
  display:flex;
  flex-direction: row;
  height:600px;
  width:100%;
}
.flex-container {
  display:flex;
  flex-direction: column;
  height:600px;
  width:100%;
}
.sarah {
  width: 60%;
  height:600px;
  background-color:grey;
}
.remy {
  width: 40%;
  height:600px;
  background-color:white;
}
.tony {
  margin-top: 50px;
  width:100%;
  height: 400px;
  background-color:grey;
}
.trevor {
  margin-top: 50px;
  width:100%;
  height: 400px;
  background-color:grey;
}
.add-to-cart {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  width: 250px;
  text-align:center;
  margin:auto auto 20px;
  
}
.count {
  width:98px;
  height:48px;
  line-height:50px;
  margin:0px 25px;
  background-color:rgb(227, 227, 227);
  border: 1px solid black;
}
.quantity-button {
  width:48px;
  height:48px;
  text-align:center;
  line-height:50px;
  border:1px solid black;
  cursor:pointer;
}
.add-to-cart-button {
  color:white;
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin: 20px 25px 0px;
  background-color:#f96302;
  font-size:1.4rem;
  font-family: helvetica-neue-light,Helvetica Neue,Helvetica,Arial,sans-serif;
  cursor:pointer;
}
.price {
  margin-top:20px;
  margin-left:30px;
  display:flex;
  flex-direction:row;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
}
.price_ds {
  font-size: 1.5rem;
}
.price_dollars {
  font-size: 2.8rem;
  line-height: 2.8rem;
}
.price_cents {
  font-size: 1.5rem;
}
.title {
  margin:50px 0px 0px 30px;
  font-family: helvetica-neue-light,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 2.4rem;
  font-weight:300;
}
.review {
  margin:10px 0px 0px 30px;
}
.desc-item {
  margin-top: 5px;
}